@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  :root {
    /* Dark Mode */
    --color-primary: rgba(0, 176, 80, 1);
    --color-secondary: rgba(60, 74, 62, 1);
    --color-tertiary: rgba(159, 175, 161, 1);

    --color-neutral-white: rgba(255, 255, 255, 1);
    --color-neutral-100: rgba(208, 206, 206, 1);
    --color-neutral-300: rgba(117, 112, 112, 1);
    --color-neutral-600: rgba(58, 56, 56, 1);
    --color-neutral-800: rgba(23, 22, 22, 1);
    --color-neutral-black: rgba(0, 0, 0, 1);
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  .filled {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  /* Text */

  h1 {
    @apply text-6xl font-bold;
  }

  /* Layout and Sections */

  .layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .section {
    @apply max-w-6xl m-auto p-6;
  }
  .section-break {
    @apply py-0 h-[1px] bg-[var(--color-neutral-white)];
  }

  .user-main {
    @apply flex flex-col gap-2 min-h-[100vh] p-4 bg-[var(--color-neutral-black)] text-[var(--color-neutral-white)];
  }

  /* Buttons */

  .CTA {
    @apply text-[var(--color-neutral-white)] bg-[var(--color-primary)] px-4 py-2 rounded-[3px] font-bold;
  }
  .CTA2 {
    @apply text-[var(--color-neutral-white)] bg-transparent border border-[var(--color-neutral-white)] px-4 py-2 rounded-[3px] font-bold;
  }
  .CTA:hover,
  .CTA2:hover {
    @apply opacity-80 transition-opacity ease-in-out;
  }
  .CTA:active,
  .CTA2:active {
    @apply opacity-60 transition-opacity ease-in-out;
  }

  /* Inputs */

  .input-light {
    @apply text-sm bg-[var(--color-neutral-white)] text-[var(--color-neutral-black)] rounded-[3px] p-2 px-4 relative;
  }

  .input-with-label {
    @apply pt-6 w-[25rem];
  }

  .label-in-input {
    @apply text-[var(--color-neutral-300)] absolute z-20 text-[0.75rem] pt-1 pl-2;
  }

  .dropdownmenu {
    -webkit-appearance: none;
    appearance: none;
  }

  /* Links */

  .footer-socials > li > a {
    @apply text-lg text-[var(--color-neutral-white)];
  }
  .footer-socials > li > a:hover {
    @apply text-[var(--color-primary)];
  }

  /* Utilities */

  .red-border {
    border: 1px solid red;
    > * {
      border: 1px solid blue;
      > * {
        border: 1px solid greenyellow;
      }
    }
  }
}
